.header {
  background-color: #004993;
}

.header .wrapper-1300 {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .wrapper-1300 a {
  text-decoration: none;
  color: white;
}

.main {
  max-width: 820px;
  margin: auto;
}

.main select {
  position: relative;
  padding-left: 25px;
  font-size: 18px;
  height: 60px;
  width: 125px;
  background-color: rgb(223, 238, 254);
  border-radius: 8px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/select-arrow.png);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.main .input-title {
  display: block;
  margin-bottom: 8px;
  color: rgb(87, 87, 87);
  font-size: 18px;
  font-weight: 300;
  max-width: 560px;
}

.main .form-title {
  font-size: 80px;
  margin: 115px 0 25px 65px;
  font-weight: 400;
  color: #004993;
  font-family: "Neucha", cursive;
}

.main .form-subtitle {
  font-size: 30px;
  margin: 45px 0 0 0;
  font-weight: 400;
}

.main textarea {
  padding: 10px 25px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  width: 100%;
  min-height: 150px;
  resize: none;
  background-color: rgb(223, 238, 254);
  border-radius: 8px;
  border: none;
  outline: none;
}

.main .underline {
  content: "";
  background: #575757;
  width: 100%;
  height: 1px;
  position: relative;
}

.main .form-box {
  margin-bottom: 120px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(15, 100, 187, 0.09);
  min-height: 100vh;
}

.main form {
  margin-left: 40px;
  padding: 0 40px 40px;
  max-width: 650px;
}

.main .df-fd {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main input {
  padding-left: 25px;
  font-size: 18px;
  width: 100%;
  height: 60px;
  font-weight: 400;
  background-color: rgb(223, 238, 254);
  border-radius: 8px;
  border: none;
  outline: none;
}

.main ::-moz-placeholder {
  color: 959595;
  font-weight: 300;
}

.main ::placeholder {
  color: 959595;
  font-weight: 300;
}

.main .work-info,
.main .author-info,
.main .parent-info {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.main .author-details {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.main .author-city {
  flex: 1;
}

.main .parent-contacts {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}

.main .parent-tel,
.main .parent-email {
  flex-basis: 50%;
}

.main .form-check {
  position: relative;
  margin-top: 35px;
}

.main .form-check span {
  max-width: 510px;
  font-size: 15px;
  display: inline-block;
  color: rgb(87, 87, 87);
  font-weight: 300;
}

.main input {
  font-family: "Roboto", sans-serif;
}

.main input[type=checkbox] {
  position: relative;
  z-index: 2;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  opacity: 0;
  cursor: pointer;
}

.main .custom-checkbox {
  width: 25px;
  height: 25px;
  position: absolute;
  border: 2px solid #0F64BB;
  border-radius: 3px;
  left: 0;
  top: 7px;
  z-index: 1;
}

.main .custom-checkbox::after {
  content: "";
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  display: block;
  width: 20px;
  height: 14px;
  left: 1px;
  bottom: 4px;
  opacity: 0;
}

.main .checkbox:checked + .custom-checkbox::after {
  opacity: 1;
}

.main .form-submit {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main input[type=submit]:disabled {
  background-color: #CECECE;
  font-family: "Roboto", sans-serif;
}

.main input[type=submit] {
  height: 60px;
  width: 300px;
  background-color: #0F64BB;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.main .input-file {
  position: absolute;
  top: 30px;
  height: 45px;
  cursor: pointer;
  opacity: 0;
}

.main .choose-file {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 45px;
  background: #0F64BB;
  border-radius: 8px;
  border: none;
}

.main .social-input-block {
  position: relative;
}

.main .social-input-block .add-link {
  cursor: pointer;
  position: absolute;
  right: 20px;
  transform: translateY(25%);
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #CECECE;
  font-family: "Roboto", sans-serif;
}

.main .social-input-block .add-link.active {
  background-color: #0F64BB;
}

.main .social-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.main .link-box {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.main input[name=social] {
  background: none;
  border: none;
  padding: 0;
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main .delete-link {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.main .images-list-picture {
  width: 100%;
}

.main .image-box {
  position: relative;
  width: 190px;
  min-height: 140px;
  display: grid;
  align-content: center;
}

.main .image-box span {
  color: white;
  font-size: 12px;
  margin: 0;
  margin-left: 10px;
}

.main .image-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 40px;
  width: 100%;
  top: 0;
  background-color: rgba(15, 100, 187, 0.6);
}

.main .remove-btn {
  width: 14px;
  height: 14px;
  position: relative;
  margin-right: 10px !important;
  cursor: pointer;
}

.main .remove-btn::before,
.main .remove-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 7px;
  background-color: white;
}

.main .remove-btn::before {
  transform: rotate(45deg);
}

.main .remove-btn::after {
  transform: rotate(-45deg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(../img/bg.png);
  font-family: "Roboto", sans-serif;
}

.wrapper-1300 {
  max-width: 1300px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .main form {
    max-width: none;
    margin: 0;
  }

  .main h1 {
    font-size: 50px;
    margin: 115px 0 25px 40px;
  }

  .main h2 {
    font-size: 22px;
  }

  .main span {
    font-size: 16px;
  }

  .main .parent-contacts {
    flex-direction: column;
    row-gap: 30px;
  }

  .main .form-check {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .main form {
    max-width: none;
    margin: 0;
  }

  .main h1 {
    font-size: 36px;
    margin: 115px 0 25px 40px;
  }

  .main h2 {
    font-size: 18px;
  }

  .main span {
    font-size: 12px;
  }

  .main .input {
    font-size: 12px;
  }

  .main .author-details {
    flex-direction: column;
    row-gap: 30px;
  }

  .main .social-input-block .add-link {
    transform: translateY(70%);
    width: 60px;
    height: 25px;
    font-size: 10px;
  }

  .main .form-check span {
    font-size: 12px;
  }

  .main input[type=submit] {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
}